.card-icon {
  background: $secondary-color;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 225px;
  justify-content: space-between;
  margin-bottom: 24px;
  max-width: 400px;
  min-height: 200px;
  padding: 38px 16px;
  width: 100%;

  @include responsive(t-xs) {
    padding: 20px 16px;
    width: 320px;
  }

  @include responsive(d-xs) {
    min-height: 180px;
    padding: 40px 16px;
    width: 400px;
  }

  @include responsive(d) {
    min-height: 200px;
    padding: 20px 16px;
    width: 310px;
  }

  &-section {
    margin-bottom: 32px;
  }

  &-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @include responsive(t-xs) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    @include responsive(d) {
      justify-content: space-between;
      max-width: 1100px !important;
    }
  }

  &-head {
    align-items: center;
    display: flex;
    margin-bottom: 16px;
  }

  &-icon {
    display: flex;
    fill: $white;
    height: 48px;
    margin-right: 24px;
    min-height: 48px;
    min-width: 48px;
    width: 48px;
  }

  &-title {
    color: $white;
    font-size: 20px;
    margin-bottom: 0;
  }

  &-text {
    color: $white;
    text-align: justify;
    display: contents;
  }
}
