.card-img {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  transition: 0.25s all ease-in-out;

  @include responsive(t-xs) {
    height: 100%;
    width: 350px;
  }

  @include responsive(d-xs) {
    width: 400px;
  }

  &-section {
    background: $secondary-color;
    padding: 32px 0 32px;
  }

  &-head {
    &-title,
    &-text,
    &-subtitle {
      text-align: center;
    }

    &-title {
      color: $white;
      margin-bottom: 20px;
    }

    &-text {
      color: $white;
      text-align: left;

      div {
        margin: 0 auto 32px;
      }

      h3 {
        font-size: 20px;
        margin-top: 32px;
      }

      p,
      ul {
        margin-bottom: 16px;
      }
    }

    &-subtitle {
      color: $white;
      text-decoration: underline white 3px;
      font-size: 20px;
      margin-bottom: 48px;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 12px;
    padding-right: 12px;
    width: fit-content;

    @include responsive(t-xs) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
      width: 730px;
    }

    @include responsive(d-xs) {
      width: 840px;
    }

    @include responsive(d) {
      width: 1280px;
    }
  }

  &-link {
    background: $white;
    border-radius: 8px;
    border: 1px solid $primary-color;
    box-shadow: $primary-color 0px 2px 8px 0px;
    margin-bottom: 32px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    top: 64px;
    transition: 0.25s all ease-in-out;
    max-width: 400px;

    &:hover {
      background: $primary-color;
      top: -12px;

      .card-img {
        &-content {
          color: $white;
        }

        &-img {
          transform: scale(1.15)
            translate3d(0, -25%, 0);
        }

        &-title {
          background: $white;
          color: $primary-color;
        }
      }

      .btn-card {
        fill: $white;
        margin-right: 0;
      }
    }

    &-appear {
      opacity: 1;
      top: 0;
    }
  }

  &-img {
    border-radius: 0;
    height: 150%;
    object-fit: cover;
    transform: translate3d(0, -25%, 0);
    transform-origin: center;
    transition: 0.25s all ease-in-out;
    width: 100%;

    @include responsive(t-xs) {
      min-height: 240px;
    }

    &-container {
      box-shadow: $shadow 1.95px 1.95px 2.6px;
      height: auto;
      max-height: 240px;
      overflow: hidden;
      position: relative;
      width: 100%;

      @include responsive(t-xs) {
        min-height: 240px;
      }
    }

    &-banner-valid,
    &-banner-invalid {
      align-items: center;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      color: $white;
      display: flex;
      left: 0;
      opacity: 0.85;
      font-family: sans-serif;
      font-size: 14px;
      padding: 2px 12px;
      position: absolute;
      top: 24px;

      & > span {
        background: $white;
        border-radius: 50%;
        height: 5px;
        margin-right: 8px;
        width: 5px;
      }
    }

    &-banner-valid {
      background: $primary-color;
    }

    &-banner-invalid {
      background: $error-color;
    }
  }

  &-content {
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 12px;
    height: 100%;
    transition: 0.25s all ease-in-out;

    &-position {
      @include responsive(t-xs) {
        display: flex;
        flex-wrap: wrap;
        & > div {
          max-width: 50%;
          width: 50%;
        }
      }
    }
  }

  &-title {
    align-items: center;
    background: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 4px;
    color: $white;
    display: flex;
    font-size: 24px;
    justify-content: center;
    margin-bottom: 24px;
    padding: 5px 0;
    text-align: center;
    transition: 0.25s all ease-in-out;
  }

  &-price {
    font-size: 16px;
    margin-bottom: 12px;

    &:first-of-type {
      margin-bottom: 8px;
    }
  }
}
