.btn {
  &-header {
    background: $black;
    background: linear-gradient(
      90deg,
      $black 50%,
      $transparent 50%
    );
    background-position: right;
    background-size: 200% 100%;
    border: 1px solid $black;
    border-radius: 20px;
    color: $black;
    padding: 6px 12px;
    text-decoration: none;
    transition: 0.25s all ease-in-out;
    width: 100%;

    &:hover {
      background-position: left;
      color: $white;
    }

    &-pt {
      padding-top: 10px;

      @include responsive(t-xs) {
        padding-top: 0;
      }
    }
  }

  &-card {
    align-items: center;
    display: flex;
    fill: $primary-color;
    height: 16px;
    justify-content: center;
    margin-left: auto;
    margin-right: 12px;
    transition: 0.25s all ease-in-out;
    width: 16px;
  }

  &-contact {
    background: $black;
    background: linear-gradient(
      90deg,
      $white 50%,
      $black 50%
    );
    background-position: right;
    background-size: 200% 100%;
    border: 1px solid $white;
    border-radius: 20px;
    color: $white;
    padding: 6px 12px;
    text-decoration: none;
    transition: 0.25s all ease-in-out;

    &:hover {
      background-position: left;
      color: $black;
    }
  }

  &-media {
    border: none;
    fill: $black;
    text-align: center;
    transition: 0.3s;
    border-radius: 8px;
    width: 36px;
    height: 36px;

    &:hover {
      background-color: $secondary-color;
      fill: $white;
    }
  }

  &-submit {
    background: $secondary-color;
    background: linear-gradient(
      90deg,
      $white 50%,
      $secondary-color 50%
    );
    background-position: right;
    background-size: 201% 100%;
    border: 1px solid $secondary-color;
    border-radius: 2px;
    color: $white;
    height: 56px;
    margin-top: 24px;
    transition: 0.25s all ease-in-out;
    width: 100%;

    &:hover {
      background-position: left;
      color: $secondary-color;
    }
  }
}
