.calendar {
  &-chevron {
    display: flex;
    height: 20px;
    width: 20px;
  }

  .rbc {

    &-label {
      min-width: 61.58px !important;
    }

    &-button-link {
      cursor:default;
    }

    &-day-bg {
      cursor: pointer;
    }

    &-today {
      background-color: $white;
    }

    &-event {
      background-color: $secondary-color !important;
      height: 18px;
      font-size: 12px;
    }

    &-month-view {
      height: 500px;
      min-height: 500px;
    }

    &-allday-cell {
      display: none !important;
    }

    &-selected-cell {
      background-color: rgba($primary-color, .2);
    }

    &-date-cell {
      cursor: pointer;
    }

    &-now {
      .rbc-button-link {
        background-color: $primary-color;
        padding: 4px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
      }
    }
  }

  &-separator {
    background: $gray none repeat scroll 0 0;
      display: block;
      height: 1px;
      position: relative;
      width: 70vh;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      margin-top: 20px;
      left: 0;
      right: 0;
  }
}
