.faq {
  &-bg {
    background: linear-gradient(
      90deg,
      rgb(45, 45, 45),
      $secondary-color,
      $primary-color
    );
    background-size: 400% 400%;

    animation: desktop 20s ease infinite;
  }

  &-section {
    margin: auto;
    max-width: 700px;
  }

  &-title {
    color: $white;
    margin-bottom: 48px;
    text-align: center;

    @include responsive(t-xs) {
      margin-bottom: 64px;
    }
  }

  &-item {
    margin: 0 12px 64px;
    position: relative;

    &:after {
      background: $white;
      content: "";
      height: 1px;
      position: absolute;
      width: 100%;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
    }

    &-title {
      color: $white;
      font-size: 16px;
      line-height: 24px;
    }

    &-content {
      color: $white;
      display: block;
      height: 0;
      overflow: hidden;
      transition: 0.4s height ease-in-out;

      & > p,
      ul {
        margin-bottom: 12px;
      }
    }

    &-icon {
      align-items: center;
      background: none;
      border: 0;
      cursor: pointer;
      display: flex;
      fill: $white;
      height: 24px;
      justify-content: center;
      margin: 0 0 0 24px;
      min-height: 24px;
      min-width: 24px;
      padding: 0;
      transition: 0.4s transform ease-in-out;
      transform: rotate(-90deg);
      width: 24px;
    }

    &-open {
      .faq-item {
        &-icon {
          transform: rotate(90deg);
        }
      }
    }
  }
}
