.icon-social {
  align-items: center;
  display: flex;
  fill: $secondary-color;
  height: 32px;
  justify-content: center;
  transition: 0.15s all ease-in-out;
  width: 32px;

  @include responsive(t-xs) {
    height: 42px;
    width: 42px;
  }

  &-container {
    align-items: center;
    background: $white;
    border-radius: 3px;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-right: 16px;
    transition: 0.15s all ease-in-out;
    width: 40px;

    @include responsive(t-xs) {
      height: 52px;
      width: 52px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: $secondary-color;

      .icon-social {
        fill: $white;
      }
    }
  }

  &-wrapper {
    display: flex;

    @include responsive(t-xs) {
      justify-content: end;
      width: 30%;
    }
  }
}
