.select-content {
  padding-top: 32px;
  margin: auto;
  max-width: 400px;

  @include responsive(t-xs) {
    max-width: 700px;
  }

  @include responsive(t-xl) {
    max-width: 900px;
  }

  @include responsive(d-xs) {
    max-width: 1100px;
  }

  &-title {
    color: $secondary-color;
    margin-bottom: 32px;
    text-align: center;
  }

  &-wrapper {
    @include responsive(t-xs) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &-select {
    display: flex;
    flex-direction: column;

    @include responsive(t-xs) {
      margin-right: 24px;
    }

    &-btn {
      align-items: center;
      background: $white;
      border: 2px solid $secondary-color;
      border-radius: 8px;
      color: $secondary-color;
      display: flex;
      margin-bottom: 12px;
      padding: 12px;
      transition: 0.25s all ease-in-out;

      &:hover {
        background: $primary-color;
      }

      @include responsive(t-xs) {
        &:last-child {
          margin-bottom: 0;
        }
      }

      &-active {
        background: $secondary-color;
        color: $white;

        &:hover {
          background: $secondary-color;
        }
      }
    }

    &-title {
      font-size: 16px;
      margin-bottom: 0;
      width: calc(100% - 140px);
    }

    &-price {
      width: 140px;
    }
  }

  &-content {
    background: $secondary-color;
    border: 2px solid $secondary-color;
    border-radius: 8px;
    color: $white;
    margin-top: 12px;
    padding: 16px;

    @include responsive(t-xs) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0;
      width: 500px;
    }

    @include responsive(d-xs) {
    }

    &-title {
      margin-bottom: 16px;
      text-align: center;

      @include responsive(t-xs) {
        margin-bottom: 24px;
      }
    }

    li {
      padding-bottom: 0.74rem;
    }
  }
}
