.form {
  &-names {
    display: flex;
  }

  &-input {
    &-container {
      align-items: center;
      border: 1px solid $black;
      border-radius: 2px;
      cursor: text;
      display: flex;
      padding: 10px 12px;
      position: relative;
      transition: 0.2s all ease-in-out;
      width: 100%;
    }

    &-icon {
      display: flex;
      height: 26px;
      fill: gray;
      margin-right: 12px;
      transition: 0.2s all ease-in-out;
      width: 26px;
    }

    &-control {
      background: $transparent;
      border: 0;
      caret-color: $black;
      color: $black;
      margin-top: 8px;
      width: 100%;
    }

    &-title {
      color: $black;
      font-size: 16px;
      left: 48px;
      position: absolute;
      top: 14px;
      transition: 0.2s all ease-in-out;
    }

    &-mb {
      margin-bottom: 12px;
    }

    &-textarea {
      margin-bottom: 10px;
      .form {
        &-input {
          &-control {
            resize: none;
          }

          &-title {
            left: 14px;
          }
        }
      }
    }

    &-focus {
      border: 1px solid $black;

      .form {
        &-input {
          &-icon {
            fill: $black;
          }

          &-control {
            outline: none;
          }

          &-title {
            font-size: 12px;
            top: 4px;
          }
        }
      }
    }

    &-filled {
      .form {
        &-input {
          &-title {
            font-size: 12px;
            top: 4px;
          }
        }
      }
    }

    &-error {
      border: 1px solid $error-color;

      .form-input-icon {
        fill: $error-color;
      }
    }
  }
}
