.form-page {
  overflow: hidden;

  &-main {
    color: $white;
    overflow-x: hidden;

    @include responsive(t-xs) {
      display: flex;
      flex-direction: row-reverse;
      overflow: visible;
    }
  }

  &-form {
    margin: 0 auto 24px;
    color: $black;

    @include responsive(t-xs) {
      align-items: center;
      display: flex;
      margin-bottom: 0;
      max-width: 792px;
      padding: 0 48px;
    }

    &-text {
      font-size: 14px;
      margin-bottom: 32px;
    }

    &-large {
      @include responsive(t-xs) {
        max-width: 600px;
        width: 100%;
      }
    }
  }

  &-aside {
    display: flex;
    min-height: 330px;
    position: relative;
    overflow: hidden;
    width: 101%;
    background: linear-gradient(
      90deg,
      rgb(45, 45, 45),
      $secondary-color,
      $primary-color
    );
    background-size: 400% 400%;

    animation: desktop 10s ease infinite;

    @include responsive(t-xs) {
      margin-top: -96px;
      width: 50%;
    }

    @include responsive(d-xs) {
      width: 40%;
    }

    &-text {
      color: $white;
      font-size: 20px;
      margin-bottom: 24px;

      @include responsive(t-xs) {
        font-size: 24px;
        margin-bottom: 32px;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      padding: 32px 12px;
      position: relative;
      z-index: 1;

      @include responsive(s-xl) {
        max-width: 560px;
      }

      @include responsive(t-xs) {
        justify-content: space-between;
        padding: 128px 24px 64px;
        max-width: 792px;
      }

      @include responsive(d-xs) {
        padding: 128px 48px 64px;
      }
    }

    &-icon-wrapper {
      display: flex;
    }

    &-external {
      color: $white;
      display: flex;
      font-weight: 600;
      padding: 0;
      margin: 0 0 6px 0;
      text-decoration: none;

      &:last-child {
        margin-bottom: 24px;
      }

      &:hover {
        color: $white;
      }
    }
  }
}
