.container {
  &-main {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    @include responsive(s-xl) {
      max-width: 540px;
    }

    @include responsive(t-xs) {
      max-width: 792px;
      padding-right: 3rem;
      padding-left: 3rem;
    }

    @include responsive(d-xs) {
      max-width: 1000px;
    }
  }
}
