.desk {
  &-top {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgb(45, 45, 45),
      $secondary-color,
      $primary-color
    );
    background-size: 400% 400%;

    animation: desktop 10s ease infinite;

    h1 {
      padding-top: 5%;
      padding-bottom: 1%;
    }
  }

  &-container {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    & > div {
      margin-bottom: 4%;
      @include responsive(s-xl) {
        margin-bottom: 2%;
      }
    }

    &:first-of-type {
      padding-top: 5%;
    }

    &:last-of-type {
      padding-bottom: 3%;
    }
  }

  &-sliderArrow {
    border: none;
    position: relative;
    z-index: 1;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    padding: 4px;
    background: none;
  }

  &-title {
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;

    h3 {
      margin-bottom: 6px;
    }

    p {
      font-family: $primary-font-bold;
      color: $gray;
      font-size: 12px;
    }

    a {
      border-radius: 4px;
      position: absolute;
      width: fit-content;
      right: 0;
      top: 0;
      margin-top: 2%;
    }

    .desk-availability {
      color: $black;
      font-size: 18px;
      margin-top: 6px;
    }
  }

  &-img {
    border-radius: 4px;
    aspect-ratio: 3/2;
    object-fit: cover;
  }

  &-separator {
    background: $gray none repeat scroll 0 0;
    display: block;
    height: 1px;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    left: 0;
    right: 0;
  }

  &-mb {
    margin-bottom: 12px;
  }

  &-slider-container {
    text-align: center;
  }
}

@keyframes desktop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
