.desk {
  &-top {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgb(45, 45, 45),
      $secondary-color,
      $primary-color
    );
    background-size: 400% 400%;

    animation: desktop 10s ease infinite;

    h1 {
      padding-top: 5%;
      padding-bottom: 1%;
    }

    p {
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  // Partie carte
  &-cards {
    padding: 4rem 0 2rem 0;
    text-align: center;
  }

  &-card {
    border-radius: 6px;
    background: $primary-color;
    display: inline-block;
    margin: 8px;
    margin-bottom: 8rem;
    max-width: 300px;
    position: relative;
    text-align: center;
    width: 300px;
    box-shadow: #46b7ab 0px 2px 8px 0px;

    &:hover {
      .desk-card-anim {
        transform: rotateX(0deg);
        background-color: beige;
      }

      .desk-anim1 {
        transition: all 0.3s 0s ease-out;
      }

      .desk-anim2 {
        transition: all 0.3s 0.2s ease-out;
      }
    }

    &-img {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      width: 300px;
      height: 250px;
      position: relative;
    }

    &-anim {
      position: absolute;
      width: 100%;
      transform-origin: top;
      transform: rotateX(-90deg);
      background-repeat: no-repeat;
    }

    &-btn {
      margin-top: 8px;
    }

    &-title {
      color: $white;
    }
  }

  &-anim1 {
    transition: all 0.3s 0.3s ease-out;
  }

  &-anim2 {
    transition: all 0.3s 0s ease-out;
    height: 2rem;
  }
}

@keyframes desktop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
