footer {
  .footer {
    &-container {
      display: grid;
      gap: 2.5rem;
      justify-content: center;
      align-items: center;
      padding: 12px 0 12px 0;
      @include responsive(t-xs) {
        grid-template-columns: repeat(
          2,
          minmax(0, 1fr)
        );
      }
    }

    &-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-location {
      display: inline-flex;
      align-items: center;
      gap: 6px;
    }

    &-icons {
      width: 14px;
      height: 14px;
    }

    &-media {
      display: inline-flex;
      justify-content: center;
      list-style: none;
    }

    &-reserved {
      text-align: center;
      background-color: $secondary-color;
      color: $white;
      padding: 6px 0 6px 0;
    }

    &-separator {
      background: $gray none repeat scroll 0 0;
      display: block;
      height: 1px;
      position: relative;
      width: 40vh;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4px;
      left: 0;
      right: 0;
    }
  }

  h5 {
    color: $secondary-color;
  }

  a {
    gap: 4px;
    display: flex;
    width: fit-content;
    text-decoration: none;
    color: $black;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      fill: $primary-color;
      color: $primary-color;
    }
  }

  p {
    align-items: center;
    gap: 4px;
  }

  span {
    background: $gray none repeat scroll 0 0;
    display: block;
    height: 1px;
    position: relative;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    left: 0;
    right: 0;
  }
}

.footer-light {
  background: $white;

  .footer-separator {
    background: $white;
  }
}
