.header {
  background: rgba($color: $white, $alpha: 0.5);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid $black;
  display: flex;
  height: 58px;
  left: 0;
  padding: 0 24px;
  position: fixed;
  top: 0;
  transition: 0.25s all ease-in-out;
  width: 100vw;
  z-index: 2;

  &-container {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;

    @include responsive(t-xs) {
      justify-content: space-between;
    }
  }

  &-brand {
    align-items: center;
    color: $black;
    display: flex;
    text-decoration: none;

    &-wrapper {
      align-items: center;
      display: flex;
      height: 58px;
      justify-content: space-between;
      width: 100%;

      @include responsive(t-xs) {
        width: auto;
      }
    }

    &-logo {
      border-radius: 50%;
      object-fit: contain;
      align-items: center;
      display: flex;
      height: 38px;
      fill: $black;
      justify-content: center;
      margin-right: 8px;
      width: 38px;
    }

    &-label {
      font-size: 18px;
    }
  }

  &-burger {
    cursor: pointer;
    height: 56px;
    position: relative;
    width: 56px;

    @include responsive(t-xs) {
      display: none;
    }

    span {
      background: $black;
      height: 3px;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      transition: 0.25s all ease-in-out;
      width: 28px;
    }

    span:first-child {
      top: 23px;
    }

    span:last-child {
      top: 33px;
    }
  }

  &-list {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 58px;
    transition: 0.25s all ease-in-out;

    @include responsive(t-xs) {
      height: 100%;
      position: relative;
      top: 0;
    }

    &-container {
      display: flex;
      flex-direction: column;

      @include responsive(t-xs) {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: flex-end;
      }
    }

    &-item {
      min-height: 32px;
      color: $black;

      &:after {
        background: $black;
      }

      @include responsive(t-xs) {
        margin-right: 24px;
      }

      &-active {
        font-weight: 600;
      }
    }
  }

  &-open {
    .header {
      &-burger {
        span:first-child {
          top: 50%;
          transform: translate(-50%, -50%)
            rotate(45deg);
        }

        span:last-child {
          top: 50%;
          transform: translate(-50%, -50%)
            rotate(-45deg);
        }
      }
    }
  }
}
