.home {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1.5rem;
  }

  &-video {
    width: 100%;
    height: auto;
    max-height: 75vh;
    min-height: 400px;
    object-fit: cover;
  }

  &-title {
    background-color: $white-opacity-title;
    position: absolute;
    color: $secondary-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;

    &-brand {
      font-size: 34px;
    }

    &-content {
      font-size: 18px;
    }
  }

  &-contact {
    background-color: $primary-color;
    position: absolute;
    color: $white;
    right: 16px;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    padding: 10px;
    border-radius: 4px;

    &-content {
      font-size: 14px;

      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}
